.edit-accomodation-container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}

.edit-accomodation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin: 2vw;
}

.edit-accomodation-form > p {
  margin: 0;
}

.edit-accomodation-form > input {
  width: 70vw;
  height: 4vh;
}

.location-input {
  width: 70vw;
  height: 4vh;
}

.file-upload {
  width: 50vw;
}
