.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}

.img-home {
  width: 100vw;
  display: block;
}

.phrase {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 1vh 1vw;
  font-size: 1.2rem;
}

.itinerary-container {
  margin: 2vw;
}
